@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
body {
  background-color: #f3f3eb;
  font-family: "Lato", sans-serif;
}

.homepage {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
}

.bg-header {
  background-clip: border-box;
  background-image: url("/images/yoga-bg.jpg");
  background-origin: center;
  background-position: top;
  background-repeat: repeat-x;
  background-size: contain;
  background-attachment: inherit;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / 7;
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-header p {
  color: #fff;
  opacity: 0.35;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logotype-container {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / 8;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / 9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logotype-container .logo-siri-prem {
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logotype-container p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.welcomeTitle {
  -ms-grid-row: 8;
  -ms-grid-row-span: 3;
  grid-row: 8 / 11;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcomeTitle h1 {
  text-align: center;
  margin: 0.5em;
}

.welcomeTitle p {
  margin: 0.5rem;
}

.arrow1 {
  grid-row: 11 / auto;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-what-is-yoga {
  padding-bottom: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 1fr))[11];
      grid-template-columns: repeat(11, minmax(auto, 1fr));
  grid-auto-rows: minmax(60px, auto);
  grid-auto-flow: dense;
}

.title-what-is-yoga {
  grid-row: 2 / auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  place-self: top center;
}

.title-what-is-yoga h1 {
  text-align: center;
}

.text-yoga-1 {
  grid-row: 3 / auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  text-align: justify;
}

.image1 {
  grid-row: 4 / auto;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / 9;
  padding: 1em 0 1em 0;
}

.image1 img {
  width: 100%;
  border-radius: 4%;
  -webkit-box-shadow: 1.3px 1.3px 1.9px rgba(0, 0, 0, 0.1), 2.9px 2.9px 4.3px rgba(0, 0, 0, 0.083), 5.2px 5.2px 7.7px rgba(0, 0, 0, 0.073), 8.4px 8.4px 12.8px rgba(0, 0, 0, 0.065), 13.4px 13.4px 21.2px rgba(0, 0, 0, 0.057), 22.7px 22.7px 37px rgba(0, 0, 0, 0.045), 48px 48px 80px rgba(0, 0, 0, 0.026);
          box-shadow: 1.3px 1.3px 1.9px rgba(0, 0, 0, 0.1), 2.9px 2.9px 4.3px rgba(0, 0, 0, 0.083), 5.2px 5.2px 7.7px rgba(0, 0, 0, 0.073), 8.4px 8.4px 12.8px rgba(0, 0, 0, 0.065), 13.4px 13.4px 21.2px rgba(0, 0, 0, 0.057), 22.7px 22.7px 37px rgba(0, 0, 0, 0.045), 48px 48px 80px rgba(0, 0, 0, 0.026);
}

.image1 img:hover {
  -webkit-animation-name: vibration;
          animation-name: vibration;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
          animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

@-webkit-keyframes vibration {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  50% {
    -webkit-transform: skew(6deg);
            transform: skew(6deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@keyframes vibration {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  50% {
    -webkit-transform: skew(6deg);
            transform: skew(6deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

.text-yoga-2 {
  grid-row: 5 / auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  text-align: center;
}

.image2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  padding: 1em 0 1em 0;
}

.image2 img {
  width: 100%;
  border-radius: 4%;
  -webkit-box-shadow: 1.3px 1.3px 1.9px rgba(0, 0, 0, 0.1), 2.9px 2.9px 4.3px rgba(0, 0, 0, 0.083), 5.2px 5.2px 7.7px rgba(0, 0, 0, 0.073), 8.4px 8.4px 12.8px rgba(0, 0, 0, 0.065), 13.4px 13.4px 21.2px rgba(0, 0, 0, 0.057), 22.7px 22.7px 37px rgba(0, 0, 0, 0.045), 48px 48px 80px rgba(0, 0, 0, 0.026);
          box-shadow: 1.3px 1.3px 1.9px rgba(0, 0, 0, 0.1), 2.9px 2.9px 4.3px rgba(0, 0, 0, 0.083), 5.2px 5.2px 7.7px rgba(0, 0, 0, 0.073), 8.4px 8.4px 12.8px rgba(0, 0, 0, 0.065), 13.4px 13.4px 21.2px rgba(0, 0, 0, 0.057), 22.7px 22.7px 37px rgba(0, 0, 0, 0.045), 48px 48px 80px rgba(0, 0, 0, 0.026);
}

.image2 img:hover {
  -webkit-animation: moveRight 1s cubic-bezier(0.95, 0.05, 0.8, 0.04);
          animation: moveRight 1s cubic-bezier(0.95, 0.05, 0.8, 0.04);
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(6%, 0);
            transform: translate(6%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(6%, 0);
            transform: translate(6%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.text-yoga-3 {
  grid-row: 8 / auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  text-align: justify;
}

.image3 {
  grid-row: 9 / auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  padding: 1em 0 1em 0;
}

.image3 img {
  width: 100%;
  border-radius: 4%;
  -webkit-box-shadow: 1.3px 1.3px 1.9px rgba(0, 0, 0, 0.1), 2.9px 2.9px 4.3px rgba(0, 0, 0, 0.083), 5.2px 5.2px 7.7px rgba(0, 0, 0, 0.073), 8.4px 8.4px 12.8px rgba(0, 0, 0, 0.065), 13.4px 13.4px 21.2px rgba(0, 0, 0, 0.057), 22.7px 22.7px 37px rgba(0, 0, 0, 0.045), 48px 48px 80px rgba(0, 0, 0, 0.026);
          box-shadow: 1.3px 1.3px 1.9px rgba(0, 0, 0, 0.1), 2.9px 2.9px 4.3px rgba(0, 0, 0, 0.083), 5.2px 5.2px 7.7px rgba(0, 0, 0, 0.073), 8.4px 8.4px 12.8px rgba(0, 0, 0, 0.065), 13.4px 13.4px 21.2px rgba(0, 0, 0, 0.057), 22.7px 22.7px 37px rgba(0, 0, 0, 0.045), 48px 48px 80px rgba(0, 0, 0, 0.026);
}

.image3 img:hover {
  -webkit-animation: rotate360Deg 3s cubic-bezier(0.86, 0, 0.07, 1);
          animation: rotate360Deg 3s cubic-bezier(0.86, 0, 0.07, 1);
}

@-webkit-keyframes rotate360Deg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate360Deg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.text-yoga-4 {
  grid-row: 10 / auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  text-align: justify;
}

.image4 {
  grid-row: 11 / auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
  padding: 1em 0 1em 0;
}

.image4 img {
  width: 100%;
  border-radius: 4%;
  -webkit-box-shadow: 1.3px 1.3px 1.9px rgba(0, 0, 0, 0.1), 2.9px 2.9px 4.3px rgba(0, 0, 0, 0.083), 5.2px 5.2px 7.7px rgba(0, 0, 0, 0.073), 8.4px 8.4px 12.8px rgba(0, 0, 0, 0.065), 13.4px 13.4px 21.2px rgba(0, 0, 0, 0.057), 22.7px 22.7px 37px rgba(0, 0, 0, 0.045), 48px 48px 80px rgba(0, 0, 0, 0.026);
          box-shadow: 1.3px 1.3px 1.9px rgba(0, 0, 0, 0.1), 2.9px 2.9px 4.3px rgba(0, 0, 0, 0.083), 5.2px 5.2px 7.7px rgba(0, 0, 0, 0.073), 8.4px 8.4px 12.8px rgba(0, 0, 0, 0.065), 13.4px 13.4px 21.2px rgba(0, 0, 0, 0.057), 22.7px 22.7px 37px rgba(0, 0, 0, 0.045), 48px 48px 80px rgba(0, 0, 0, 0.026);
}

.image4 img:hover {
  -webkit-animation: changeOpacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          animation: changeOpacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@-webkit-keyframes changeOpacity {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    opacity: 0.75;
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes changeOpacity {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    opacity: 0.75;
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.contact-us {
  text-align: center;
  padding: 1em 1em 2em 1em;
}

* {
  padding: 0;
  margin: 0;
}

.slider {
  position: relative;
  width: 98vw;
  height: 360px;
  margin: 25px auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  z-index: 0;
  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  margin: 0 10px 10px 0px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  background-color: #98a345;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #98a345;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #98a345;
}

/* SLIDES */
.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.slide-content {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.slide-title {
  margin-bottom: 20px;
}

.slide-text {
  margin-bottom: 20px;
  padding-right: 0.5em;
}

.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  background-color: #98a345;
}

.slide-image {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slide-image img {
  width: 100%;
  height: cover;
}

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  -webkit-transform: translatex(0);
          transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  -webkit-transform: translatex(0);
          transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  -webkit-transform: translatex(0);
          transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  -webkit-animation-name: swap-out;
          animation-name: swap-out;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  -webkit-animation-name: swap-out;
          animation-name: swap-out;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  -webkit-animation-name: swap-out;
          animation-name: swap-out;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes swap-out {
  0% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translatex(50%);
            transform: translatex(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
  }
}

@keyframes swap-out {
  0% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translatex(50%);
            transform: translatex(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
  }
}

.menu-open-container {
  background-color: #6b752f;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  display: none;
}

.subGridForCrossicon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
  width: 100vw;
}

.item3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cross {
  left: 75%;
  top: 3%;
}

#cross:hover {
  cursor: pointer;
}

.menu-items {
  display: block;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.menu-items li {
  padding: 1.2em;
  color: #000000;
  text-align: center;
  font-size: 21px;
  line-height: 25px;
  list-style: none;
}

.menu-items li a:link {
  text-decoration: none;
  color: #000000;
}

.menu-items li a:visited {
  text-decoration: none;
  color: inherit;
  color: #000000;
}

.menu-items li a:hover {
  text-decoration: none;
  color: #000000;
}

.menu-items li a:active {
  text-decoration: none;
  color: #000000;
}

.menu-items li:hover {
  font-weight: 600;
  cursor: pointer;
}

.navbar-container {
  position: fixed;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fab459e0;
  width: 100vw;
  -webkit-box-shadow: 0px 4px 6px #9691915d;
          box-shadow: 0px 4px 6px #9691915d;
}

.siteName {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-weight: 600;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.siteName:hover {
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
}

.navbarIcon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#footer {
  position: relative;
  background-color: #EDEDED;
  border-top: 1px solid #fab359;
}

#footer p {
  text-align: center;
  font-weight: 600;
  padding-top: 1em;
}

#footer h6 {
  padding: 1em;
  text-align: center;
}

.footer-container {
  padding: 0 1em;
}

.container-social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 1em;
}

.social-icon {
  height: 30px;
  width: 30px;
}

.social-icon img {
  height: 30px;
}

@media screen and (max-width: 600px) {
  .footer-container {
    padding: 0 3em;
  }
}

@media screen and (min-width: 800px) {
  .footer-container {
    padding: 0 10em;
  }
  .text-yoga-1 {
    grid-row: 3 / auto;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
    text-align: justify;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .image1 {
    grid-row: 3 / auto;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8 / 11;
    padding: 1em 0 1em 0;
  }
  .text-yoga-3 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6 / 8;
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7 / 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .image2 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6 / 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    padding: 1em 0 1em 0;
  }
  .image3 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7 / 11;
    padding: 1em 0 1em 0;
  }
  .text-yoga-4 {
    grid-row: 9 / auto;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
