#footer {
  position: relative;
  background-color: map-get($palette, light-grey);
  border-top: 1px solid map-get($palette, dark-orange );
  p {
    text-align: center;
    font-weight: 600;
    padding-top: 1em;
  }
  h6 {
    padding: 1em;
    text-align: center;
  }
}

.footer-container {
  padding: 0 1em;
}

/// social icons
.container-social-media-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
  padding: 1em;
}

.social-icon {
  height: 30px;
  width:  30px;
  img {
    height: 30px;
  }
}